<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springframework.ide.eclipse.boot.launch">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/resource-server/src/main/java/com/exteso/blog/oauth2/stepbystep/ResourceServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.exteso.blog.oauth2.stepbystep.ResourceServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="resource-server"/>
<booleanAttribute key="spring.boot.livebean.enable" value="true"/>
<stringAttribute key="spring.boot.livebean.port" value="53750"/>
</launchConfiguration>
