<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springframework.ide.eclipse.boot.launch">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SpringJPAOnetoOne/src/main/java/com/example/jpa/SpringJpaHibernateExampleApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.example.jpa.SpringJpaHibernateExampleApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SpringJPAOnetoOne"/>
<booleanAttribute key="spring.boot.livebean.enable" value="true"/>
<stringAttribute key="spring.boot.livebean.port" value="29701"/>
</launchConfiguration>
